<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户数据</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery-3.3.1.min.js"></script>

    <script src="/js/bootstrap.js"></script>
</head>
<body>
<table class=".table-condensed">
    <tr>
        <th>用户ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>邮箱</th>
        <th colspan="4">操作</th>
    </tr>
    <tr th:each="user:${list}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:if="${user.sex}"><span>男</span></td>
        <td th:if="${not user.sex}"><span>女</span></td>
        <td th:text="${user.email}"></td>
        <!--<td><a th:href="@{/user/get(id=${user.id})}">查看</a></td>-->
        <!--<td><a th:href="@{/user/update(id=${user.id})}">修改</a></td>-->
        <td><a th:href="@{'/user/get/'+${user.id}}">查看</a></td>
        <td><a th:href="@{'/user/update/'+${user.id}}">修改</a></td>
        <td><a th:href="@{'/user/delete/'+${user.id}}">删除</a></td>
        <td><a th:href="@{'/user/add'}">添加</a></td>
    </tr>
</table>
<button type="submit" class="btn btn-primary">Transfer cash</button>
</body>
</html>